body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 211, 248);
  border-style: dashed;
  border-width: 7px;
  border-color: blueviolet;
}

h1 {
  background-color: rgb(255, 180, 232);
}
h2{
  font-style: italic;
}
p {
  font-size: medium;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  color: whitesmoke;
  padding: 10px;
  background-color: blueviolet;
}